html,
body,
canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  background: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.start-menu {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  padding-bottom: 1rem;
  gap: 1rem;
  background-image: linear-gradient(#6A6D54 20%, black 40% 100%);
  width: 100%;
  height: 100%;
}

.start-menu img {
  /*STYLE LOGO*/
  display: block;
  width: 40%;
  margin: 0 auto;
}
